body{
  background-color: #fff;
}
.header{
  font-size: 28px;
  font-family: var(--font-family-display);
  font-weight: 700;
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  font-size: 28px;
  font-family: var(--font-family-display);
  font-weight: 700;
}


.container{
  width: 100%;
  max-width: 1140px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
  font-family: var(--font-family-body);
  padding-inline: 24px;
}

@media (min-width: 640px) {
  .container {
    padding-inline: 24px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-inline: 0;
  }
}
