body{
  background-color: white;
  /* border: 2px solid red; */
  padding: 0;
}

.header{
  font-size: 28px;
  font-family: var(--font-family-display);
  font-weight:700;
  height: 120px;
  width: 1140px;

  /* height: calc(120px - var(--page-pad-x)); */
  display: flex;
  align-items:center;
  justify-content: center;
}

.logo{
  font-size: 28px;
  font-family: var(--font-family-display);
  font-weight:700;
}


.container{
  width: 100%;
  max-width: 1140px;
  margin-inline: auto;
display: flex;
flex-direction: column;
  gap: 60px;
  font-family: var(--font-family-body);
}


/* 
dialog::backdrop {
  background: rgba(0, 0, 0, 0.45);
} */

dialog::backdrop {
  background: #F2ECE4;
  opacity: 1;
}